body {
  margin: 0;
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 700px;
}

.question-list {
  text-align: left;
  padding: 0;
  list-style-type: none;
}

.search {
  width: 400px;
  height: 40px;
  display: block;
  margin: 0 auto;
}

.answer-part {
  margin-left: 40px;
}

.answer-header {
  margin-left: 20px;
}
